body {
  padding: 12px;
  height: 100%;
  width: 300px;
  background-color: #f1f1f1;
  margin: 0px;
}

h1, h2, h3, h4, h5, p {
  font-family: Helvetica, Arial, sans-serif;
  margin: .5em;
}

a {
  color: #2e6d9d;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}

.light-text {
   color: #6e6e6e;
}

.heavy-text {
  color: #2a2a2a;
}

.hide {
  display: none;
}

.add-to-bundle-container {
  text-align: center;
  margin-bottom: 2em;
}

.add-to-bundle {
  background-color: #ee645c;
  color: white;
  border: none;
  width: 100%;
  height: 3em;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 1.25em;
  font-weight: 700;
}
.add-to-bundle i {
  margin-right: 5px;
}

.page-header {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 12px;
}

.casual {
  color: #d7c944;
}

.engaged {
  color: #f68b28;
}

.expert {
  color: #ee645c;
}

.existing-bundles {
  background-color: white;
  padding: 15px 0px 0px;
  margin: .5em 0px;
  border-radius: 4px;
}

.existing-bundle-header {
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.bundle-details {
  padding: 0px 10px 12px 10px;
  border-bottom: 1px solid #d5d5d5;
}

.bundle-title {
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}

.bundle-details p {
  margin-left: 0px;
}

.comfort-level{
  float: right;
}

.bundle-link-list {
  border-radius: 4px;
  margin: 0px;
  padding: 0px 10px;
}

.bundle-link {
  border-bottom: 1px solid #d5d5d5;
  padding: 15px 0px 12px 0px;
  margin: 0px;
}
.bundle-link-list:last-child {
  border-bottom: none;
}

.bundle-link p {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}

.bundle-link p.link-tite-row {
  margin-bottom: 8px;
  font-size: 15px;
}

.bundle-link p.link-tite-row span {
  float: right;
}

.comfort-level-colors {
  
}

.comfort-level-colors span {
  margin-right: 8px;
}

.link-details {
  font-size: .875em;
}

.link-title {
  font-size: 1.1em;
}

.see-more-bundles {
  padding: 15px 0px;
}

.see-more-bundles p{
  margin: 0px;
}

.see-more-links {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.view-more-bundles-about {
  text-align: center;
  font-size: 1.2em;
  margin: 2em;
}

.bundle-topic-name {
  font-weight: 700;
}


.choose-header {
  margin: .5em .5em 0 .5em;
  padding: 1em;
  border-bottom: 1px solid #d5d5d5;
}

.choose-bundle {
  font-size: 1.25em;
  text-align: center;
}

.my-bundle-item {
  font-size: 1.2em;
  border-bottom: 1px solid #d5d5d5;
  padding: .75em;
}

.add-button {
  float: right;
  color: #ee645c;
  font-size: 1.25em;
}

.create {
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: .75em;
}

.create-new {
  font-size: 1.2 em;
}

.browse-by-topic {
  text-align: center;
  margin: 2em;
}